fieldset.field-sp-slider-top {
padding: 10px 10px 0px 40px;
border: 2px solid #dfe5c1;
margin: 0px 0px 10px 0px;
background: #fff;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}
fieldset.field-sp-slider-top legend {
padding: 5px;
background: #bbdd98;
color: #fff;
font-size: 120%;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

fieldset.field-sp-slider-top fieldset fieldset legend {
background: #fff;
color: #bbdd98;
font-size: 110%;
}

fieldset.field-sp-slider-top label {

    display: block;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 14px;


}

fieldset.field-sp-slider-top input {
    margin-bottom: 20px;
    margin-top: 5px;
   
    
}


fieldset.field-sp-slider-top input[type=text] {
   
    height: 30px;
    width: 300px
    
}

fieldset.field-sp-slider-top input[type=text], fieldset.field-sp-slider-top input[type=password], fieldset.field-sp-slider-top textarea, fieldset.field-sp-slider-top select 
{ border: 1px solid #dfe5c1; padding: 2px; line-height: normal; } 
 
fieldset.field-sp-slider-top textarea:hover, fieldset.field-sp-slider-top input[type=text]:hover, fieldset.field-sp-slider-top input[type=password]:hover, fieldset.field-sp-slider-top select:hover 
{ border-color: #ace372; } 
 
fieldset.field-sp-slider-top textarea:focus, fieldset.field-sp-slider-top input[type=text]:focus, fieldset.field-sp-slider-top input[type=password]:focus, fieldset.field-sp-slider-top select:focus 
{ border-color: #759f48; outline: 2px solid #ace372; }
fieldset.field-sp-slider-top p.bfElemWrap {
padding: 5px;
margin: 0px 0px 10px 0px;
background: #f1fed6;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}
 
fieldset.field-sp-slider-top span.bfElemWrap {
padding: 5px;
background: #f1fed6;
margin: 0px 10px 10px 0px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}
fieldset.field-sp-slider-top input[type=submit], .field-sp-slider-top input[type=reset] {
padding: 2px 5px 2px 5px;
margin: 0px;
outline: none;
color: #fff;
font-weight: bold;
font-size: 100%;
background: #6c8b2e;
text-shadow:#000 0px 0px 2px;
border: 1px solid #394918;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 30px
}

fieldset.field-sp-slider-top #filter-count {
    
    margin-left: 20px;
    color: #dfe5c1;
    font-weight: bold;
}

.mtop {
    margin-top: 40px !important
}

.width50 {
    width: 50%;
}

.selectable {

    padding: 10px;
    width: 80%;
    height: 300px;
    overflow: scroll;
    border: 1px solid #ccc;
}

ul#listSlider li {
    padding: 20px 10px 20px 10px;
    margin: 0px;
    outline: none;
    color: #fff;
    font-weight: bold;
    font-size: 100%;
    background: #6c8b2e;
    text-shadow:#000 0px 0px 2px;
    border: 1px solid #394918;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 30px
}

ul#listSlider li a.edit {

    background-color: blue;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

ul#listSlider li a.del {
    
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: red;
    float: right;
    color: white;
    border-radius: 5px;
    text-decoration: none;

}
